# Python
*.pyc
*.pyo
__pycache__/
*.pyc

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Virtual Environment
venv/
env/
.venv/
.vscode/
.idea/

# IDE specific
*.sublime-project
*.sublime-workspace
*.pycharm
*.pyproject
