name: Django CI
'on':
  push:
    branches:
      - main
      - feature/test-branch-101
  pull_request:
    branches:
      - main
      - feature/test-branch-101
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Run tests
        run: |
          ls -la                       
          pwd                           
          cd mymicroservice              
          python manage.py test           
  lint:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Lint code
        run: |
          # Replace this with your linting command
          pylint mymicroservice
  sonarqube:
    runs-on: ubuntu-latest
    needs:
      - build
      - test
      - lint
    steps:
      - name: Analyze with SonarQube
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          SONAR_TOKEN: '${{ secrets.SONAR_TOKEN }}'
          SONAR_PROJECT_KEY: MYMICROSERVICE
          SONAR_ORGANIZATION: rluhach
